.main{
    text-align: center;
}

.section{
    margin: 50px; 
}
.button {
    margin: 5vw;
    Width: 280px;
    Height: 100px;
}
.input {
    display: 'none';
}

.bottom_bar{
    position: fixed;
    width: 100%;
    bottom: 0;
}